<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>PaseaDog - Discounts</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="#">PaseaDog Logo</a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/walkers">Paseadores</a></li>
            <li><a href="/discounts">Descuentos</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header>
      <h1>Bienvenido a nuestra seccion de descuentos y promociones!</h1>
      <h2>
        Te aseguramos que saldras de aquí mas feliz que perro con dos colas
      </h2>
    </header>
    <main>
      <h2>Descripcion de la seccion + imagen</h2>
      <h2>
        renderizacion de tickets de descuento,con codigo unico(id_) por ticket,
        ligado a cada usuario, descripcion breve del local comercial y del
        descuento propiamente dicho
      </h2>
      <h2>busqueda por local o veterinaria</h2>
    </main>
    <footer><h2>menú de navegacion, redes y copyright</h2></footer>
  </body>
</html>
