<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>

<main>
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center py-3">
      <div class="col-12 col-sm-12 col-md-10 col-lg-6">
        <img
          src="https://www.kindpng.com/picc/m/330-3306972_walking-dog-cartoon-png-png-download-dog-walker.png"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-12 col-lg-6 col-xl-6">
        <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">
          QUIENES SOMOS.<small class="text-black text">
            Breve descripcion del sitio web y como usarlo</small
          >
        </h1>
      </div>
    </div>
  </div>
  <div class="mostVoted">
    <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">
      Ultimos Paseadores Agregados
    </h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/500/300/?image=5" />
          </div>
          <div class="card_content">
            <h2 class="card_title">NOMBRE DE PASEADOR</h2>
            <p class="card_text">BREVE DESCRIPCION DEL PASEADOR Y SU RUTA</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/500/300/?image=11" />
          </div>
          <div class="card_content">
            <h2 class="card_title">NOMBRE DE PASEADOR</h2>
            <p class="card_text">BREVE DESCRIPCION DEL PASEADOR Y SU RUTA</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://picsum.photos/500/300/?image=14" />
          </div>
          <div class="card_content">
            <h2 class="card_title">NOMBRE DE PASEADOR</h2>
            <p class="card_text">BREVE DESCRIPCION DEL PASEADOR Y SU RUTA</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">
    Testimonios de nuestro equipo
  </h1>
  <div class="testimonial">
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>review del usuario</p>
        </blockquote>
        <h3>Wisteria Ravenclaw</h3>
        <h4>Equipo PaseaDog</h4>
      </figcaption>
    </figure>
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>Review de un usuario</p>
        </blockquote>
        <h3>Ursula Gurnmeister</h3>
        <h4>Equipo PaseaDog</h4>
      </figcaption>
    </figure>
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>Review del usuario</p>
        </blockquote>
        <h3>Ingredia Nutrisha</h3>
        <h4>Equipo PaseaDog</h4>
      </figcaption>
    </figure>
  </div>

  <div class="sponsors">
    <h1 class="display-5 fw-bolder lh-1 mb-3 quienesSomos">Marcas Amigas</h1>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ganavicola.es/wp-content/uploads/2017/08/eukanuba_preview.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>
